---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.center-block {
  float: none;
}

.navbar .navbar > div{
  height: auto;
}

#welcome {
  width: 80%;
}

.navbar-brand {
  padding: 3px 10px;
}

#volunteers {
  margin: 30px 0px;
  padding: 0px;
  border-top: 1px solid #e5e5e5;
}

td {
  padding: 2px 6px;
}

#contact_us > container {
  float: left;
  display: block;
}