---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.center-block {
  float: none;
}